<p style="color: green"><%= notice %></p>

<% content_for :title, "Images" %>

<h1>Images</h1>

<div id="images">
  <table class="table table-striped">
    <tbody>
      <% @images.each do |image| %>
        <%= render image %>
      <% end %>
    </tbody>
  </table>
</div>
<%== pagy_nav(@pagy) if @pagy.pages > 1 %>

<%= link_to "New image", new_image_path %>
